* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

li {
  list-style: none;
}

.hide {
  visibility: visible;
  }

.show {
  visibility: visible;
  }
