* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

li {
  list-style: none;
  border: 1px solid black;
}

.hide {
  visibility: hidden;
  }

.show {
  visibility: visible;
  }

.match {
  visibility: visible;
  }

.star {
  width: 10%;
  height: auto;
visibility: visible;


}

.st0 {

}
